{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": "> 0.25%, not dead"
                // "targets": {
                //     "ie": "9" 
                //     // chrome safari edge ie firefox oper    
                //     // ios android node electron
                // }
            }
        ]
    ]
}